/* custom css */
.post_image,
.post_image_g,
.post_image_v,
.post_image_a {
    display: none;
}

body.modal-open .background-container {
    -webkit-filter: blur(4px) grayscale(90%);
    -moz-filter: blur(4px) grayscale(90%);
    -o-filter: blur(4px) grayscale(90%);
    -ms-filter: blur(4px) grayscale(90%);
    filter: blur(4px) grayscale(90%);
    background-color: #000;
}
